@using MvcApplication1.Resources.Information
@{
    ViewBag.Title = "TermsUse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    ul {
        padding: 0; /* Убираем поля */
        margin-left: 350px; /* Отступ слева */
    }
</style>
<font style="font-family:Monotype Corsiva; font-size:27px;  color:#000000; line-height: 1.5  ">
    <center>
        <h1>@TermsUse.Title</h1>
    </center>
</font>

<font style="font-family:Monotype Corsiva; font-size:27px;  color:#666060; line-height: 1.5; ">
        <ul>
            <p>
        <li> @TermsUse.Text1</li>
        <li> @TermsUse.Text2</li>
        <li> @TermsUse.Text3</li>
        <li> @TermsUse.Text4</li>
        <li> @TermsUse.Text5</li>
        <li> @TermsUse.Text6</li>
        <li> @TermsUse.Text7</li>
        <li> @TermsUse.Text8</li>
        <li> @TermsUse.Text9</li>
            </p>
        </ul>
    </font>
